/*背景防滚动*/
.wobuxiangyaogundong{
	background-image: url(../image/background.jpg);
	background-size:100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	z-index: -1; 
	overflow: hidden; 
	width: 100%; 
	height: 100%; 
	left: 0; 
	top: 0;
}
/*通用设置*/
*{
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	font-family: '华文细黑';
	user-select: text;
}
/*大标题*/
h1,h2,h3,h4,h5,h6{
	color: black;
	padding: 10px 15px 15px 15px;
	box-sizing: border-box;
}
/*小标题*/
h4,h5,h6{
	padding: 25px;
}
/*选中的文本样式*/
::-moz-selection {
    backdrop-filter: blur(20px);
	background: #00000030;
	border-radius: 8px;
}
::selection {
    backdrop-filter: blur(20px);
	background: #00000030;
	border-radius: 8px;
}
/*段落*/
p,marquee,ul,ol{
	background-color: #FFFFFF95;
	color: black;
	backdrop-filter: blur(20px);
	border-radius: 8px;
	padding: 20px;
	box-sizing: border-box;
}
/*对自己说一声marquee慎用*/
marquee{
	hspace:20px;
}
li{
	margin-left: 12px;
}
a{
	user-select:none;
	cursor: pointer;
	vertical-align：middle;
}
a:link{
	color:black;
	text-decoration: none;
}
a:visited{
	color:black;
	text-decoration: none;
}
a:hover{
	color:black;
	font-weight: bold;
	filter: drop-shadow(0 0 10px black);
}
a:active{
	color:black;
	text-decoration: none;
}
button {
    background-color: azure;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	border-radius: 8px;
	backdrop-filter: blur(20px);
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
}
input {
	border: none;
	padding: 15px;
	border-bottom: 1px solid black;
	outline: none;
	border-radius: 8px;
	font-size: 12pt;
	background-color: #00000015;
	backdrop-filter: blur(20px);
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	color:black;
}
header{
	position: fixed;
	top:8px;
	left:8px;
	right:8px;
	z-index:999;
}
input:hover
{
	background-color: #00000010;
}
button img{
	border-radius: 8px;
}
/*顶栏设计*/
#top-bar{
	background-color: #FFFFFF80;
	backdrop-filter: blur(8px);
	width:100%;
	text-align: left;
	align-items:center;
	box-sizing: border-box;
	z-index:999;
	display: flex;
	display: -webkit-flex; /* 为了Safari走钢索 */
	/*接下来进行弹性布局flex的设计*/
	align-items: center;
}
#top-bar a img{
	float: left;
}
#top-bar a{
	text-decoration: none;
	float: left;
	margin-right: 30px;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	margin-left: 0px;
	color:#000000;
	padding: 0px;
	background-color: #00000000;
	box-sizing: border-box;
}
footer{
	text-align: center;
	padding: 0px;
}

#para{
	background-color: #FFFFFF90;
	border-radius: 8px;
	padding: 20px;
	box-sizing: border-box;
	backdrop-filter: blur(20px);
	margin-bottom:8px;
}
.show{
	width:74%;
	float:right;
}
.gooo{
	width:25%;
	margin-right:8px;
	position:fixed;
}
.search{
	display: inline-block;
	background-size: 20px;
	background-repeat:no-repeat;
	background-position: calc(100% - 15px);
	background-image: url("../image/search.png");
	flex-grow: 1;
}
.search_link img{
	width: 20px;
	height: 20px;
}
.links a{
	margin-left: 10px;
	margin-right: 10px;
}
.links img{
	height: 20px;
}
.links svg{
	height: 20px;
}
@media screen and (min-device-width: 150px){
	.search{
		display: inline-block;
	}
	.search_link{
		display: none;
	}
}
@media screen and (max-device-width: 150px){
	.search{
		display: none;
	}
	.search_link{
		display: inline;
	}
}
@media (prefers-color-scheme: dark)
{
	input{
		color:#FFFFFF
	}
	button{
		background-color: #7a7281;
		color: whitesmoke;
	}
	p,marquee,ul,ol{
		background-color: #00000095;
		color: white;
	}
	h1,h2,h3,h4,h5,h6{
		color: white;
	}
	#top-bar{
		background-color: #00000090;
	}
	#top-bar a{
		color: #FFFFFF;
	}
	#para{
		background-color: #00000090;
	}
	a:link{
		color:white;
		text-decoration: none;
	}
	a:visited{
		color:white;
		text-decoration: none;
	}
	a:hover{
		color:white;
		text-decoration:dashed;
		filter: drop-shadow(0 0 17px white);
	}
	a:active{
		color:white;
		text-decoration: none;
	}
	::-moz-selection {
		background: #FFFFFF30;
	}
	::selection {
		background: #FFFFFF30;
	}
}
