body{
	background: #FFFFFF;
	background-size:100%;
	background-attachment: fixed;
}
*{
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	font-family: '华文细黑';
	user-select: text;
}
h1,h2,h3,h4,h5,h6{
	color: black;
	padding: 10px 15px 15px 15px;
	box-sizing: border-box;
}
h4,h5,h6{
	padding: 25px;
}
::-moz-selection {
    backdrop-filter: blur(20px);
	background: #00000030;
	border-radius: 8px;
}
::selection {
    backdrop-filter: blur(20px);
	background: #00000030;
	border-radius: 8px;
}
p,marquee,ul,ol{
	background-color: #FFFFFF95;
	color: black;
	backdrop-filter: blur(20px);
	border-radius: 8px;
	padding: 20px;
	box-sizing: border-box;
}
marquee{
	hspace:20px;
}
li{
	margin-left: 12px;
}
a{
	user-select:none;
	cursor: pointer;
}
a:link{
	color:black;
	text-decoration: none;
}
a:visited{
	color:black;
	text-decoration: none;
}
a:hover{
	color:black;
	font-weight: bold;
	filter: drop-shadow(0 0 10px black);
}
a:active{
	color:black;
	text-decoration: none;
}
button {
    background-color: azure;
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	border-radius: 8px;
	backdrop-filter: blur(20px);
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19);
}
input {
	width: 600px;
	border: none;
	padding: 15px;
	border-bottom: 1px solid black;
	outline: none;
	border-radius: 8px;
	font-size: 12pt;
	background-color: #00000015;
	backdrop-filter: blur(20px);
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	color:black;
}
header{
	position: fixed;
	top:8px;
	left:8px;
	right:8px;
	z-index:999;
}
input:hover
{
	background-color: #00000010;
}
button img{
	border-radius: 8px;
}

#top-bar{
	background-color: #daba9680;
	backdrop-filter: blur(8px);
	width:100%;
	text-align: left;
	align-items:center;
	box-sizing: border-box;
	z-index:999;
}
#top-bar a img{
	width: 50px;
	height: 50px;
	float: left;
	transform: translateY(-50%);
}
#top-bar a{
	text-decoration: none;
	float: left;
	margin-right: 30px;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	margin-left: 0px;
	color:#000000;
	transform: translateY(50%);
	padding: 0px;
	background-color: #00000000;
	box-sizing: border-box;
}
footer{
	text-align: center;
	padding: 0px;
}

#para{
	background-color: #FFFFFF90;
	border-radius: 8px;
	padding: 20px;
	box-sizing: border-box;
	backdrop-filter: blur(20px);
	margin-bottom:8px;
}
.show{
	width:74%;
	float:right;
}
.gooo{
	width:25%;
	margin-right:8px;
	position:fixed;
}
.links a{
	margin-left: 10px;
	margin-right: 10px;
}
.links img{
	height: 20px;
}
.links svg{
	height: 20px;
}
@media screen and (max-height:468px) and (min-width:880px)
{
	#sb{
		writing-mode: vertical-rl;
		height: 65%;
	}
	#top-bar{
		height: 30%;
	}
	.gooo{
		position:relative;
		writing-mode: vertical-rl;
	}
	#para{
		writing-mode: vertical-rl;
		margin-right: 8px;
	}
}
@media screen and (max-width:1000px)
{
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 30px;
	}
}
@media screen and (max-width:880px)
{
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 30px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media screen and (max-width:550px)
{
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 30px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media screen and (max-width:542px)
{
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 30px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media screen and (max-width:523px)
{
	#top-bar{
		padding: 8px 5%;
	}
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 30px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media screen and (max-width:360px)
{
	#top-bar{
		padding: 8px 5%;
	}
	#top-bar a{
		margin-right: 20px;
	}
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 20px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media screen and (max-width:326px)
{
	#top-bar{
		padding: 8px 5%;
	}
	#top-bar a{
		margin-right: 15px;
	}
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 15px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media screen and (max-width:301px)
{
	#top-bar{
		padding: 8px 5%;
	}
	#top-bar a{
		margin-right: 10px;
	}
	#top-bar a:hover{
		margin-left: 0px;
		margin-right: 10px;
	}
	.show{
		width:100%;
		float:none;
	}
	.gooo{
		width:100%;
		float:none;
		position:relative;
	}
}
@media (prefers-color-scheme: dark)
{
	body{
		background: #000000;
	}
	button{
		background-color: #7a7281;
		color: whitesmoke;
	}
	p,marquee,ul,ol{
		background-color: #00000095;
		color: white;
	}
	h1,h2,h3,h4,h5,h6{
		color: white;
	}
	#top-bar{
		background-color: #87725c80;
	}
	#top-bar a{
		color: #FFFFFF;
	}
	#para{
		background-color: #00000090;
	}
	a:link{
		color:white;
		text-decoration: none;
	}
	a:visited{
		color:white;
		text-decoration: none;
	}
	a:hover{
		color:white;
		text-decoration:dashed;
		filter: drop-shadow(0 0 17px white);
	}
	a:active{
		color:white;
		text-decoration: none;
	}
	::-moz-selection {
		background: #FFFFFF30;
	}
	::selection {
		background: #FFFFFF30;
	}
}
